@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
}

.content {
  display: flex;
}

.page {
  padding: 20px;
  flex-grow: 1;
}
