@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.content {
  display: flex;
}

.page {
  padding: 30px 40px;
  flex-grow: 1;
  height: calc(100vh - 50px);
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}
