.sidebarItem {
  display: flex;
  align-items: center;
  gap: 0 10px;
  fill: var(--inverted-primary-color);
}

.linkText {
  opacity: 0;
  width: 0;
  height: 0;
  transition: 0.3s;
}

.opened {
  .linkText {
    opacity: 1;
    width: auto;
    height: auto;
  }
}
