.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  transition: border .5s;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}